<!DOCTYPE html>
<html>
<head>
    <title>Hello Message</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <div class="home-page">
        <h1>Hello, Welcome to Our Website!</h1>
        <p>This is the home page. Choose an option below:</p>
        <div class="links">
            <a href="/login" class="login-link">Login</a>
            <a href="/registration" class="registration-link">Registration</a>
        </div>
    </div>
</body>
</html>
