<!DOCTYPE html>
<html>
<head>
  <title>Registration Page</title>
</head>
<body>

  <h2>Registration Page</h2>
  
  <form id="registrationForm" action = "/employeeRegistration" method="POST">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName"  required>
    <br><br>
    
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required>
    <br><br>
    
    <label>Gender:</label>
    <input type="radio" name="gender" value="Male" required>
    <label for="genderMale">Male</label>
    <input type="radio"  name="gender" value="Female" required>
    <label for="genderFemale">Female</label>
    <br><br>
    
    <label for="employeeId">Employee ID:</label>
    <input type="text" id="employeeId" name="employeeId" required>
    <br><br>
    
    <label for="designation">Designation:</label>
    <input type="text" id="designation" name="designation" required>
    <br><br>
    
    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" required>
    <br><br>
    
    <button type="submit" value="Register">Submit</button>
  </form>
  <script>
    function handleSubmit() {
        debugger;
      // Get field values
      var firstName = document.getElementById('firstName').value;
      var lastName = document.getElementById('lastName').value;
      var gender = displayRadioValue();
      var employeeId = document.getElementById('employeeId').value;
      var designation = document.getElementById('designation').value;
      var phone = document.getElementById('phone').value;

      console.log('First Name:', firstName);
      console.log('Last Name:', lastName);
      console.log('Gender:', gender);
      console.log('Employee ID:', employeeId);
      console.log('Designation:', designation);
      console.log('Phone:', phone);

    }

    function displayRadioValue() {
            var ele = document.getElementsByName('gender');
 
            for (i = 0; i < ele.length; i++) {
                if (ele[i].checked)
                    return ele[i].value;
            }
        }
  </script>
</body>
</html>