<!DOCTYPE html>
<html>
<head>
    <title>No Changes</title>
    <link rel="stylesheet" href="/styles/no-changes.css">
</head>
<body>
    <div class="no-changes">
        <h2>No Fields Are Changed to Update</h2>
        <p>There were no changes made to update.</p>
        <a href="/user-details-update" class="back-button">Back to Update Page</a>
    </div>
</body>
</html>
