<!DOCTYPE html>
<html>
<head>
    <title>Something Went Wrong</title>
    <link rel="stylesheet" href="/styles/something-went-wrong.css">
</head>
<body>
    <div class="message-box">
        <h1>Something Went Wrong</h1>
        <p>Please try again later.</p>
        <a href="/" class="back-link">Go to Home Page</a>
    </div>
</body>
</html>
