<!DOCTYPE html>
<html>

<head>
    <title>User Details</title>
    <link rel="stylesheet" href="/styles/user-details.css">
</head>

<body>
    <header class="header">
        <h1>Hello, {{userName}}</h1>
    </header>
    <div class="user-details">
        <h2>Your Details</h2>
        <p><strong>First Name:</strong> {{firstName}}</p>
        <p><strong>Last Name:</strong> {{lastName}}</p>
        <p><strong>Email:</strong> {{email}}</p>
        <button class="edit-button">
            <a href="/user-details-update" class="edit-link">Edit Details</a>
        </button>
        <a href="/logout" class="logout-link">Log Out</a>
    </div>
</body>

</html>