<!DOCTYPE html>
<html>
<head>
    <title>User Already Present</title>
    <link rel="stylesheet" href="/styles/user-already-present.css">
</head>
<body>
    <div class="message-box">
        <h1>User Already Present</h1>
        <p>The username you entered is already registered. Please choose a different username.</p>
        <a href="/login" class="back-link">Back to Login</a>
    </div>
</body>
</html>
