<!DOCTYPE html>
<html>
<head>
    <title>User Not Registered</title>
    <link rel="stylesheet" href="/styles/user-not-registered.css">
</head>
<body>
    <div class="message-box">
        <h1>User Not Registered</h1>
        <p>The username you entered is not registered. Please register or try again.</p>
        <a href="/login" class="back-link">Back to Login</a>
    </div>
</body>
</html>
