<!DOCTYPE html>
<html>
<head>
    <title>Username Taken</title>
    <link rel="stylesheet" href="/styles/username-taken.css">
</head>
<body>
    <div class="username-taken">
        <h2>This User Name is Already Taken</h2>
        <p>Please try with another username.</p>
        <a href="/user-details-update" class="back-button">Back to Update Page</a>
    </div>
</body>
</html>
