.username-taken {
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.username-taken h2 {
    color: #333;
    margin-bottom: 20px;
}

.username-taken p {
    color: #555;
    margin-bottom: 20px;
}

/* Styles for the "Back" button */
.back-button {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    margin-top: 10px;
}

.back-button:hover {
    color: #0056b3;
}


